<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{bdata}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">

                                <img src="static/img/self.jpg" alt="My Profile Picture">
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-danger">{{name}}</h3>
                                <p class="text-primary"><b>{{des}}</b></p>
                                <hr>
                                <h4><b class="text-danger">{{sum}}</b></h4>

                                <p>{{skills}}</p> I




                                <hr>
                                <h4><b class="text-danger">{{edu}}</b></h4>
                                <ul>
                                    <li>{{bca}}</li>
                                    <li>{{mca}}</li>
                                </ul>
                                <hr>
                                <h4><b class="text-danger">{{Skills}}</b></h4>
                                <ul>
                                    <li>{{h}}</li>
                                    <li> {{j}}</li>
                                    <li> {{b}}</li>
                                    <li> {{r}}</li>
                                    <li> {{p}}</li>
                                </ul>
                                <hr>
                                <h4><b class="text-danger">{{ex}}</b></h4>
                                <h5> {{lec}}</h5>
                                <h5> {{ad}}</h5>
                                <hr>
                                <ul>
                                    <li>{{dev}}</li>
                                    <br>
                                    <li> {{des1}}</li>
                                </ul>
                                <hr>
                                <h5>{{web}}</h5>
                                <hr>
                                <ul>
                                    <li> {{css}}</li>
                                    <li> {{sql}}</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
